<!doctype html>
<html lang="en">
       <head>
              <title>Sihir</title>
              <meta charset="utf-8">
              <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
              <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
              <link rel="stylesheet" href="../style.css">
              <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,900&display=swap" rel="stylesheet">
              <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700,700i|Poppins:400,600,900&display=swap" rel="stylesheet">
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
       </head>
       <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-zidan fixed-top">
            <div class="container">
                   <a class="nav-link special" href="index.html">ALL YOU CAN ONLINE</a>
                   <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                   </button>
                   <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavId">
                          <ul class="nav">
                                 <li class="nav-item active">
                                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                                 </li>
                                 <li class="nav-item">
                                        <a class="nav-link" href="aboutus.html">About us</a>
                                 </li>
                                 <li class="nav-item">
                                        <a class="nav-link" href="cek khodam/index.html">Khodam</a>
                                 </li>
                                 <li class="nav-item">
                                        <a class="nav-link" href="santet online/index.html">Santet!</a>
                                 </li>
                          </ul>
                   </div>
            </div>
     </nav>
              <section class="sihir">
                     <div class="container">
                            <div class="row">
                                   <div class="col-md-6">
                                          <img src="../img/sihir4.jpg" alt="" class="img-fluid rounded">
                                   </div>
                                   <div class="col-md-6">
                                          <h1 class="card-title">Sihir Honde</h1>
                                          <h5 class="card-title">Rp. 18.870.000 || Pulang ga diantar datang tak dijemput </h5>
                                          <p class="card-title">
                                                 Metodenya membuat boneka manusia berwajah binatang, seperti anjing, himar, babi, dan sebagainya.
                                                 <br>
                                                 <br>
                                                 Tujuannya agar dapat mengubah wajah manusia cantik atau sebaliknya.
                                                 <br>
                                                 <br>
                                                 Sihir jenis ini termasuk ganas, sehingga sering disebut teluh jika si korban sampai meninggal.
                                                 <br>
                                                 <br>
                                                 Namun jika korban hanya berubah muka saja, disebut sihir Pilemburan (sunda-red).
                                          </p>
                                   </div>
                            </div>
                            <div class="my-4">
                                   <ul class="nav">
                                          <li class="nav-item">
                                                 <a class="nav-link btn btn-outline-secondary" href="../index.html">Kembali</a>
                                          </li>
                                          <li class="nav-item ml-5">
                                                 <a class="nav-link btn btn-primary" href="../santet online/index.html">Santet sekarang!</a>
                                          </li>
                                   </ul>
                            </div>
                     </div>
              </section>
              <!-- Optional JavaScript -->
              <!-- jQuery first, then Popper.js, then Bootstrap JS -->
              <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
       </body>
</html>